{% extends "ProgrammerProfile/base.html" %}
{% block content %}
<center>

    {%load static %}
    <img src="{% static 'uploaded-files/'%}{{person.ProfilePic}}"/>
    <table class="table"><tr><td><strong>Name:</strong></td><td>{{person.Name}}</td></tr>

    <tr><td><strong>About {{person.Name}}:</strong></td><td> {{person.Description}}</td></tr>
        <tr><td><strong>Languages {{person.Name}} codes in :</strong></td>
            <td>
                {% for i in language %}
                    {{i.Lang}}
                {% endfor %}
    </td>
        </tr>
    </table>
</center>
{% endblock %}