{% extends "ProgrammerProfile/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
	<div class="row">
		<div class = "col-sm-6 col-sm-offset-3">	
		    <form class="form-horizontal"  action="{% url 'log' %}" method="POST">
			    {% csrf_token %}
			    	{{Login|crispy}}
				{{form.errors}}
				<center>
					<button type="submit" value="submit">SUBMIT!</button>
				</center>
			</form>
		</div>
	</div>
</div>

<footer>
	<center>
			<b>You will be redirected to the login page afterwards</b>
	</center>
</footer>

{% endblock content %}