{% extends "ProgrammerProfile/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
   bkLib.onDomLoaded(function() {
		   
		   new nicEditor().panelInstance('id_Review');
	 });

 </script>

<div class="container">
	<div class="row">
		<div class = "col-sm-8 col-sm-offset-2">	
				
			<form class="form-horizontal" enctype="mltipart/form-data" method="POST" action={% url 'post' %}>
			{% csrf_token %}	
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
					
			{% if user.is_authenticated %}
					
						<span>{{form|crispy}}</span>
					{{form.errors}}
					<br>
					<button class="btn btn-primary" type="submit" value="submit">SUBMIT!</button>
		
					{% else %}
					<p>You need to Login or Sign Up to write an article</p>
					{% endif %}
					
						<br>
		
					</center>
				</form>
		</div>
	</div>
</div>
{% endblock content %}