#start{
background:black;
width:100%;
height:40%;
background-align:center;
position:relative;
color:white;
margin-top:-20px;
display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input,textarea,select {
            display: block
        }
