#start{
background:black;
width:100%;
height:40%;
background-align:center;
position:relative;
color:white;
margin-top:-20px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
input,textarea,select {
            display: block
        }
.nametag{
width: 80%;
padding:5px 5px;
float: right;
}   

a{
	text-decoration: none;

}    
#logo{
	border-radius: 70px;
}
